@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url('../font/MS Sans Serif 8pt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Microsoft Sans Serif';
}

body {
    margin: 0;
    background: #008080;
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAAAABgAAAAwAAAAMAAAAGAAAARgAAAGwAAAB8AAAAf4AAAH8AAAB+AAAAfAAAAHgAAABwAAAAYAAAAEAAAAAAAAAAAAAAAAAAAA/////////////////////////////////////////////////////////////////+f////D////w////4f///eH///zD///8Q////Af///wAf//8AP///AH///wD///8B////A////wf///8P////H////z////9/////////8='), auto;
}

table {
    width: 800px;
    border: 1.6px solid;
    border-collapse: collapse;
    border-top-color: #fdffff;
    border-bottom-color: #c3c3c3;
    border-left-color: #fdffff;
    border-right-color: #c3c3c3;
    background: #c3c3c3;
}

fieldset {
    border-color: #ccc;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.main-bg {
    height: 150px;
    width: 100%;
    object-fit: cover;
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
}

.main-img {
    float: right !important;
    height: 100%;
    object-fit: cover;
}

.nav-item {
    text-decoration: none;
}

button {
    background: #c2c6ca;
    border: none;
    padding: 5px;
    border-radius: 0;
    outline: none;
}

button:active {
    box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px black, inset -1px -1px #c2c6ca, inset 2px 2px #85898d;
}

button:active svg {
    transform: translateX(1px) translateY(1px);
}

button svg {
    margin: 3px 3px 3px 4px;
}

button:not(:last-child) {
    margin-right: 7px;
}

button:active p, .win98popup .buttons button:active img {
    transform: translateX(1px) translateY(1px);
}

.shadow {
    box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px white, inset -1px -1px #85898d;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

::-webkit-scrollbar {
    width: 16px;
    background: red;
}

::-webkit-scrollbar-corner {
    background: #c0c0c0;
}

::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    border-color: #373737;
    border-top-color: #c0c0c0;
    border-left-color: #c0c0c0;
    box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}

::-webkit-scrollbar-track {
    background-blend-mode: normal, difference, normal;
    background-size: 3px 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), linear-gradient(to right, black 50%, white 50%), linear-gradient(to bottom, black 50%, white 50%);
}

::-webkit-scrollbar-button {
    background-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    border-color: #373737;
    border-top-color: #c0c0c0;
    border-left-color: #c0c0c0;
    box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}

::-webkit-scrollbar-button:start:decrement:active, ::-webkit-scrollbar-button:end:increment:active {
    border: 1px solid #888;
    box-shadow: none;
    background-position: 3.2px 3.2px;
}

::-webkit-scrollbar-button:start:decrement:horizontal:decrement, ::-webkit-scrollbar-button:end:increment:horizontal:decrement {
    background-image: url("data:image/svg+xml,%3Csvg  transform='rotate(180)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:start:decrement:horizontal:increment, ::-webkit-scrollbar-button:end:increment:horizontal:increment {
    background-image: url("data:image/svg+xml,%3Csvg  transform='rotate(0)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:start:decrement:vertical:decrement, ::-webkit-scrollbar-button:end:increment:vertical:decrement {
    background-image: url("data:image/svg+xml,%3Csvg  transform='rotate(270)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:start:decrement:vertical:increment, ::-webkit-scrollbar-button:end:increment:vertical:increment {
    background-image: url("data:image/svg+xml,%3Csvg  transform='rotate(90)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

.bar-container {
    width: 100%;
    min-height: 10px;
    background-color: #eee;
    border: 2px solid #95a5a6;
    margin-left: 12px;
}

.bar {
    background-color: #010081;
    height: 100%;
}

.bar>.percent {
    font-size: 10px;
    color: white;
    margin-left: 10px;
}

.project-img-preview {
    width: 180px !important;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #000;
}

.contact-icon {
    width: 50px;
    height: 50px;
}

.theme-select {
    width: 100%;
}