@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');
@import "./color.css";

body {
    min-height: 100vh;
    background: #041C32 !important;
    font-family: 'Roboto Mono', monospace;
}

.card-body {
    background: #192546 !important;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #041C32;
}

::-webkit-scrollbar-button {
    display: none;
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #0F3460;
    border-radius: 10px;
}